<!-- AgendaSection -->
<section id="prizes" class="prizes">
    <div class="content-wrapper">
        <div class="col-md-8 col-md-offset-2">

             <h3>Agenda</h3>

             
        <div class="hackathon-row col-md-12">
             <div>	
             	<h4>Day 1: Design Sprint</h4>

					<p>This day is going to feature Group brainstorming, where everyone shouts out ideas - it is a lot of 
					fun. At the end of a workshop we’d be tired, in good spirits, and the proud owners of a big pile 
					of sticky notes. We would be taking a cue from <a href="http://gv.com/designsprint">http://gv.com/designsprint</a> We would be doing exactly 
					what the industry leader “Google” does when coming up with a new Product.</p>
             </div>

             <div>
             <h4>Day 2: Polymer Polytechnic Hackathon</h4>

					<p>We plan this hack day to be a format for understanding Polymer in depth because you have 
					time set aside to actually code while still within reach of support. It's a great environment to take 
					an existing app and convert pieces over to Polymer elements, or start on a new app entirely.
					<b>We recommend that all participants read through the <a href="https://www.polymer-project.org/docs/start/creatingelements.html">Polymer Basics guide</a> , though they 
					can skip over the initial steps covered in “Getting the Code” since they’ll be doing that 
					during the codelabs</b>. Instead, we encourage everyone to try out the interactive samples by 
					clicking the “Edit on Plunker” buttons. That will be the fastest way to start hacking on Polymer.</p>
             <div>

            <a href="{{ site.baseurl }}/schedule/" class="bottom-section-link btn btn-primary waves-effect waves-button waves-light waves-float" style="margin:30px;padding: 10px;">Event Schedule</a>
        </div>
				
            
        </div>
    </div>
</section>
<!-- End agenda Section -->


